In [4]:
import pandas as pd
import numpy as np
import sqlite3  # Built-in SQL database
from sqlalchemy import create_engine  # Advanced database toolkit
import warnings
warnings.filterwarnings('ignore')

In [5]:


conn = sqlite3.connect('my_second_database.db')  # Creates a file called my_first_database.db
cursor = conn.cursor()  # A cursor is like a pointer to execute commands

In [7]:
desk_objects = {
    'name': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Desk Lamp', 'Notebook', 'Pen', 'Coffee Mug', 'Phone Stand', 'USB Hub'],
    'color': ['Silver', 'Black', 'White', 'Black', 'Blue', 'Red', 'Blue', 'Green', 'Gray', 'Silver'],
    'value': [1200, 25, 85, 350, 45, 10, 5, 15, 30, 60]
}

In [8]:
df = pd.DataFrame(desk_objects)
print(df)

          name   color  value
0       Laptop  Silver   1200
1        Mouse   Black     25
2     Keyboard   White     85
3      Monitor   Black    350
4    Desk Lamp    Blue     45
5     Notebook     Red     10
6          Pen    Blue      5
7   Coffee Mug   Green     15
8  Phone Stand    Gray     30
9      USB Hub  Silver     60

In [15]:
df.to_sql(
    name='desk_objects',           # Table name
    con=conn,               # Database connection
    if_exists='replace',    # Replace if table exists
    index=False
)

10

In [16]:
delete_sql = "DELETE FROM desk_objects WHERE value < 50"
cursor.execute(delete_sql)
conn.commit()

In [17]:
pd.read_sql("SELECT * FROM desk_objects", conn)

       name   color  value
0    Laptop  Silver   1200
1  Keyboard   White     85
2   Monitor   Black    350
3   USB Hub  Silver     60